language: python
os: linux
dist: bionic
jobs:
  include:
    - stage: build_front
      language: node_js
      node_js:
        - "8"
      before_install:
        - cd frontend
      install:
        - yarn install
        - yarn build
      script:
        - yarn test
    - stage: build_deploy
      language: python
      python:
        - "3.7"
      services:
        - redis
        - postgresql
      addons:
        postgresql: "9.6"
        apt:
          update: true
          packages:
            - postgresql-9.6-postgis-2.4
            - postgresql-9.6-postgis-2.4-scripts
            - postgresql-client-9.6
      env:
        global:
          - PGPORT=5433
      before_install:
        - sudo apt-get -y install gdal-bin python3-gdal
        - export CPLUS_INCLUDE_PATH=/usr/include/gdal
        - export C_INCLUDE_PATH=/usr/include/gdal
      install:
        - pip3 install -r requirements.txt
      before_script:
        - sudo psql -U postgres -c "create extension postgis"
      script:
        - python3 manage.py test
      deploy:
        provider: heroku
        api_key:
          secure: CuY8YNQi8Qma4iI7oaYfbMWuy6wCrAu1QL2H2w2nmdfPTUCfglsQNVuiF8YDWHbTJDxxqJIWN4+9KX8FC0YUrGbuNW6oWovLOGty7QCNSkpbhOAtVmkBgZt7e7Gj2HGFsuvlZBn7gl8kVsD7gN5N/CfhIjIF2gG6HYYxJGoWc3CiV0BtuFQPfLBH7oInfxgSDEQyb75JEWtuSpggrFB57tAiTzJ5p0SuYMzKsa1uEqMEmOh3k/tyuwFAZ4cUBBmn5KOjg6MQMiAzrobvsnyQ7W/I2elEwek2W+4qmfPnoYE24z5ePGw8jYRfG8z6GBSK8tR5GbmaJOw9y/Mgh6Apg9tYCNVPnPMyWkZxNIlbVAtChztcLLdvR+4TlXj7tzLzJltoZprNPx215CfjZpEt4zx5G5Qy/27ljnnhvM/MlgupHlkQMWcJGsvXGKVzwqCjgZebV0Jqm/LZmAUGZBeif2UD55qRDyaMxChc1/VImsIo9jBIZ6/EaTR+f3QHYYW/xLufMMrAgzZTwI5R+WxF2XwVy8DtmfY6W77HGcEtz90hlNkr/GxU1V3gG9/qwy9aNXV9eZredTa7NwbuIAyUqhsarcFetrfZnuDFJQ22nj3TwUgicTe2isO7qk7Ik5Kyh2ePN1DUQ2w20CZod6pz1swwh5+VqBN1N1qSpOW0GSA=
        app:
          development: adhoc-development
          staging: adhoc-staging
          master: adhoc-prod

notifications:
  email: false

